In [1]:
import pandas as pd
import numpy as np
import ast
from scipy import stats

Output of the multiple prompts

In [2]:
df_oc_oup=pd.read_excel('./pe_enhi_qe_oup1.xlsx')
df_oc_oup

,index,original,translation,post_edit,scores,mean,z_scores,z_mean,unique_id,first_prompt,first_prompt_output,second_prompt,second_prompt_output
0,0,[citation needed] Four leaf phases are recogni...,एक यूकेलिप्टस पौधे के विकास में चार पत्ती चरण ...,नीलगिरी वृक्ष के विकास की पहचान पत्तियों के चा...,"[75, 75, 77, 82]",77.25,"[-1.115305097972482, -1.0486684179242434, 0.42...",-0.256664,0,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: The ma...,GPT4 Correct User: There is an English to Hind...,75
1,7,"In his attempts to catch Jerry, Tom often has ...","जेरी को पकड़ने के अपने प्रयासों में, टॉम को अक...","जेरी को पकड़ने के अपने प्रयासों में, टॉम को अक...","[70, 70, 78, 75]",73.25,"[-1.529103565445179, -1.4671982782069075, 0.53...",-0.602970,1,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: The ma...,GPT4 Correct User: There is an English to Hind...,80
2,9,Jaldapara National Park (Pron: ˌʤʌldəˈpɑ:rə) (...,जलदापारा राष्ट्रीय उद्यान (Pron: indialear vil...,जलदापाड़ा राष्ट्रीय उद्यान (उच्चारण: ˌʤʌldəˈp...,"[85, 80, 59, 59]",70.75,"[-0.28770816302708796, -0.6301385576415794, -1...",-0.949799,2,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: The ma...,GPT4 Correct User: There is an English to Hind...,75
3,20,"Hodal, Palwal, Vrindavan, Mathura are the citi...","होडल, पलवल, वृंदावन, मथुरा निकटवर्ती शहर हैं।","होडल, पलवल, वृंदावन, मथुरा कोटवन के निकटवर्ती ...","[45, 50, 81, 61]",59.25,"[-3.5980959028086636, -3.1413177193375637, 0.8...",-1.789335,3,GPT4 Correct User: There is an English to Hind...,"1. Accuracy:\n - Machine translation: होडल, ...",GPT4 Correct User: There is an English to Hind...,85
4,23,"Raghunathpur is a village in Uttar Pradesh, In...",रघुनाथपुर (Raghunathpur) भारत के उत्तर प्रदेश ...,रघुनाथपुर भारत के उत्तर प्रदेश राज्य में स्थित...,"[55, 60, 65, 70]",62.50,"[-2.77049896786327, -2.3042579987722354, -0.81...",-1.576001,4,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: रघुनाथ...,GPT4 Correct User: There is an English to Hind...,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1938,6932,The central Shiva relief Trimurti is located o...,केंद्रीय शिव उत्कीर्णन त्रिमूर्ति मुख्य प्रवेश...,शिव की केंद्रीय मूर्ति त्रिमूर्ति मुख्य प्रवेश...,"[80, 85, 78, 81]",81.00,"[-0.7015066304997849, -0.2116086973589154, 0.5...",0.058472,1938,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: केंद्र...,GPT4 Correct User: There is an English to Hind...,85
1939,6943,The main forms of rock art at Bhimbetka are pe...,भीमबेटका में शैल कला के मुख्य रूप पेट्रोग्लाइफ...,भीमबेटका में रॉक कला के मुख्य रूप पेट्रोग्लिफ्...,"[85, 80, 60, 59]",71.00,"[-0.28770816302708796, -0.6301385576415794, -1...",-0.923936,1939,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: The ma...,GPT4 Correct User: There is an English to Hind...,80
1940,6949,"This culminated in 2003, when much of the comp...","यह 2003 में चरम पर पहुंचा, जब कई सदियों के उपय...","इसकी परिणति २००३ में हुई, जब कई सदियों के उपयो...","[85, 75, 65, 62]",71.75,"[-0.28770816302708796, -1.0486684179242434, -0...",-0.828933,1940,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: The ma...,GPT4 Correct User: There is an English to Hind...,75
1941,6959,Cave 2 (35.7 m × 21.6 m) was started in the 46...,गुफा 2 (35.7 मीटर और 21.6 मीटर) 40 के दशक में ...,गुफ़ा २ (३५.७ मीटर × २१.६ मीटर) ४६० के दशक में ...,"[85, 80, 67, 65]",74.25,"[-0.28770816302708796, -0.6301385576415794, -0...",-0.602253,1941,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: The ma...,GPT4 Correct User: There is an English to Hind...,80
1942,6998,"Jauhar was committed in the houses of Patta, A...","जौहर पट्टा, ऐसर दास और साहिब खान के घरों में प...","पत्ता, आईसर दास और साहिब खान के घरों में जौहर ...","[65, 80, 72, 70]",71.75,"[-1.9429020329178759, -0.6301385576415794, -0....",-0.769534,1942,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: जौहर प...,GPT4 Correct User: There is an English to Hind...,70

In [5]:
df_oc_oup.loc[:, ['mean', 'second_prompt_output']].describe()

              mean  second_prompt_output
count  1943.000000           1943.000000
mean     73.066521             78.661863
std       9.225727              7.413103
min      14.250000             20.000000
25%      69.750000             75.000000
50%      75.000000             80.000000
75%      79.000000             85.000000
max      88.750000             90.000000

In [3]:
df_oc_oup.dtypes

index                     int64
original                 object
translation              object
post_edit                object
scores                   object
mean                    float64
z_scores                 object
z_mean                  float64
unique_id                 int64
first_prompt             object
first_prompt_output      object
second_prompt            object
second_prompt_output      int64
dtype: object

Computing deviation of the evaluator scores

In [6]:


def std_dev(df):
    scores=np.array(df['scores'])
    scores_std=scores.std()
    scores_mean=scores.mean()
    df['scores_std']=scores_std
    df['scores_mean']=scores_mean
    
    return df

In [8]:
df=df_oc_oup.copy()
df['scores']=df['scores'].apply(lambda x: ast.literal_eval(x))
df.loc[:, ['scr1', 'scr2', 'scr3', 'scr4']]=df["scores"].to_list()
df=df.apply(std_dev, axis=1)
df_oc_oup=df.copy()
df_oc_oup

,index,original,translation,post_edit,scores,mean,z_scores,z_mean,unique_id,first_prompt,first_prompt_output,second_prompt,second_prompt_output,scr1,scr2,scr3,scr4,scores_std,scores_mean
0,0,[citation needed] Four leaf phases are recogni...,एक यूकेलिप्टस पौधे के विकास में चार पत्ती चरण ...,नीलगिरी वृक्ष के विकास की पहचान पत्तियों के चा...,"[75, 75, 77, 82]",77.25,"[-1.115305097972482, -1.0486684179242434, 0.42...",-0.256664,0,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: The ma...,GPT4 Correct User: There is an English to Hind...,75,75,75,77,82,2.861381,77.25
1,7,"In his attempts to catch Jerry, Tom often has ...","जेरी को पकड़ने के अपने प्रयासों में, टॉम को अक...","जेरी को पकड़ने के अपने प्रयासों में, टॉम को अक...","[70, 70, 78, 75]",73.25,"[-1.529103565445179, -1.4671982782069075, 0.53...",-0.602970,1,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: The ma...,GPT4 Correct User: There is an English to Hind...,80,70,70,78,75,3.418699,73.25
2,9,Jaldapara National Park (Pron: ˌʤʌldəˈpɑ:rə) (...,जलदापारा राष्ट्रीय उद्यान (Pron: indialear vil...,जलदापाड़ा राष्ट्रीय उद्यान (उच्चारण: ˌʤʌldəˈp...,"[85, 80, 59, 59]",70.75,"[-0.28770816302708796, -0.6301385576415794, -1...",-0.949799,2,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: The ma...,GPT4 Correct User: There is an English to Hind...,75,85,80,59,59,11.882235,70.75
3,20,"Hodal, Palwal, Vrindavan, Mathura are the citi...","होडल, पलवल, वृंदावन, मथुरा निकटवर्ती शहर हैं।","होडल, पलवल, वृंदावन, मथुरा कोटवन के निकटवर्ती ...","[45, 50, 81, 61]",59.25,"[-3.5980959028086636, -3.1413177193375637, 0.8...",-1.789335,3,GPT4 Correct User: There is an English to Hind...,"1. Accuracy:\n - Machine translation: होडल, ...",GPT4 Correct User: There is an English to Hind...,85,45,50,81,61,13.827057,59.25
4,23,"Raghunathpur is a village in Uttar Pradesh, In...",रघुनाथपुर (Raghunathpur) भारत के उत्तर प्रदेश ...,रघुनाथपुर भारत के उत्तर प्रदेश राज्य में स्थित...,"[55, 60, 65, 70]",62.50,"[-2.77049896786327, -2.3042579987722354, -0.81...",-1.576001,4,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: रघुनाथ...,GPT4 Correct User: There is an English to Hind...,85,55,60,65,70,5.590170,62.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1938,6932,The central Shiva relief Trimurti is located o...,केंद्रीय शिव उत्कीर्णन त्रिमूर्ति मुख्य प्रवेश...,शिव की केंद्रीय मूर्ति त्रिमूर्ति मुख्य प्रवेश...,"[80, 85, 78, 81]",81.00,"[-0.7015066304997849, -0.2116086973589154, 0.5...",0.058472,1938,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: केंद्र...,GPT4 Correct User: There is an English to Hind...,85,80,85,78,81,2.549510,81.00
1939,6943,The main forms of rock art at Bhimbetka are pe...,भीमबेटका में शैल कला के मुख्य रूप पेट्रोग्लाइफ...,भीमबेटका में रॉक कला के मुख्य रूप पेट्रोग्लिफ्...,"[85, 80, 60, 59]",71.00,"[-0.28770816302708796, -0.6301385576415794, -1...",-0.923936,1939,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: The ma...,GPT4 Correct User: There is an English to Hind...,80,85,80,60,59,11.640447,71.00
1940,6949,"This culminated in 2003, when much of the comp...","यह 2003 में चरम पर पहुंचा, जब कई सदियों के उपय...","इसकी परिणति २००३ में हुई, जब कई सदियों के उपयो...","[85, 75, 65, 62]",71.75,"[-0.28770816302708796, -1.0486684179242434, -0...",-0.828933,1940,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: The ma...,GPT4 Correct User: There is an English to Hind...,75,85,75,65,62,9.038114,71.75
1941,6959,Cave 2 (35.7 m × 21.6 m) was started in the 46...,गुफा 2 (35.7 मीटर और 21.6 मीटर) 40 के दशक में ...,गुफ़ा २ (३५.७ मीटर × २१.६ मीटर) ४६० के दशक में ...,"[85, 80, 67, 65]",74.25,"[-0.28770816302708796, -0.6301385576415794, -0...",-0.602253,1941,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: The ma...,GPT4 Correct User: There is an English to Hind...,80,85,80,67,65,8.466847,74.25
1942,6998,"Jauhar was committed in the houses of Patta, A...","जौहर पट्टा, ऐसर दास और साहिब खान के घरों में प...","पत्ता, आईसर दास और साहिब खान के घरों में जौहर ...","[65, 80, 72, 70]",71.75,"[-1.9429020329178759, -0.6301385576415794, -0....",-0.769534,1942,GPT4 Correct User: There is an English to Hind...,1. Accuracy:\n - Machine translation: जौहर प...,GPT4 Correct User: There is an English to Hind...,70,65,80,72,70,5.402546,71.75

In [9]:


def coefficients(x, y):
    pearson=stats.pearsonr(x, y)
    spearmanr=stats.spearmanr(x,y)
    kendalltau=stats.kendalltau(x,y)
    
    return pearson, spearmanr, kendalltau

In [10]:
#Existing_oup
x=df_oc_oup['mean'].to_numpy()
y=df_oc_oup['second_prompt_output'].to_numpy()
coefficients(x,y)

((0.33835728984335817, 3.020746712911592e-53),
 SpearmanrResult(correlation=0.16199086314135172, pvalue=6.801392755571755e-13),
 KendalltauResult(correlation=0.12469434269272239, pvalue=4.97474730110122e-13))

In [11]:
df_oc_oup.describe()

,index,mean,z_mean,unique_id,second_prompt_output,scr1,scr2,scr3,scr4,scores_std,scores_mean
count,1943.000000,1943.000000,1943.000000,1943.000000,1943.000000,1943.000000,1943.000000,1943.000000,1943.000000,1943.000000,1943.000000
mean,3109.928976,73.066521,-0.659992,971.000000,78.661863,74.644879,74.261451,71.258363,72.101390,7.580368,73.066521
std,1943.728180,9.225727,0.829320,561.040106,7.413103,13.368249,13.246556,11.793676,12.382736,4.590915,9.225727
min,0.000000,14.250000,-5.954711,0.000000,20.000000,10.000000,10.000000,9.000000,9.000000,0.000000,14.250000
25%,1491.500000,69.750000,-0.981426,485.500000,75.000000,70.000000,70.000000,67.000000,67.000000,4.224146,69.750000
50%,2899.000000,75.000000,-0.499577,971.000000,80.000000,80.000000,80.000000,70.000000,75.000000,6.689544,75.000000
75%,4665.000000,79.000000,-0.128204,1456.500000,85.000000,85.000000,85.000000,79.000000,80.000000,9.714677,79.000000
max,6998.000000,88.750000,0.787872,1942.000000,90.000000,95.000000,100.000000,95.000000,95.000000,32.264532,88.750000

Computing coefficient (annotator output & Prompt output) for a range of standard deviation of the annotator scores

In [14]:
std_dev_bucket=[4,5,6,7,8,9,10,15,100]


for sd in std_dev_bucket:
    df=df_oc_oup.loc[(df_oc_oup['scores_std']>=3) & (df_oc_oup['scores_std']<sd)]
    x=df['mean'].to_numpy()
    y=df['second_prompt_output'].to_numpy()
    s, p, k=coefficients(x,y)
    print(' std_dev less than ',sd, '\n','num_elements ', len(df), '\n','spearman coeff ', s[0] , '\n')

 std_dev less than  4
 num_elements  197
 spearman coeff  0.36956999454190675

 std_dev less than  5
 num_elements  405
 spearman coeff  0.3951566886920254

 std_dev less than  6
 num_elements  572
 spearman coeff  0.3907583604775612

 std_dev less than  7
 num_elements  795
 spearman coeff  0.35377871312200043

 std_dev less than  8
 num_elements  979
 spearman coeff  0.3291314576917277

 std_dev less than  9
 num_elements  1137
 spearman coeff  0.3278299247234762

 std_dev less than  10
 num_elements  1257
 spearman coeff  0.33423528367180083

 std_dev less than  15
 num_elements  1577
 spearman coeff  0.36016257217889935

 std_dev less than  100
 num_elements  1710
 spearman coeff  0.3612126345126124

In [16]:
scores_bucket=[40,50, 60,70,80, 90]


for scr in scores_bucket:
    df=df_oc_oup.loc[(df_oc_oup['mean']<=scr)]
    x=df['mean'].to_numpy()
    y=df['second_prompt_output'].to_numpy()
    s, p, k=coefficients(x,y)
    print(' score less than ',scr, '\n','num_elements ', len(df), '\n','spearman coeff ', s[0] , '\n')

 score less than  40
 num_elements  23
 spearman coeff  0.5681373906855287

 score less than  50
 num_elements  51
 spearman coeff  0.5976966656821223

 score less than  60
 num_elements  169
 spearman coeff  0.41270973801589617

 score less than  70
 num_elements  516
 spearman coeff  0.4544808047594208

 score less than  80
 num_elements  1577
 spearman coeff  0.360064449811272

 score less than  90
 num_elements  1943
 spearman coeff  0.33835728984335817

In [17]:
df_oc_oup.loc[df_oc_oup['mean']<50, ['mean', 'second_prompt_output']].describe()

            mean  second_prompt_output
count  49.000000             49.000000
mean   38.540816             64.387755
std     8.890003             15.432401
min    14.250000             20.000000
25%    34.000000             60.000000
50%    41.000000             70.000000
75%    44.750000             75.000000
max    49.000000             85.000000

In [18]:
df_oc_oup.loc[df_oc_oup['mean']>70, ['mean', 'second_prompt_output']].describe()

              mean  second_prompt_output
count  1427.000000           1427.000000
mean     77.320077             79.505957
std       4.002212              5.785234
min      70.250000             30.000000
25%      74.250000             75.000000
50%      77.000000             80.000000
75%      80.250000             85.000000
max      88.750000             90.000000